site_name: UoA Research AI GPU Platform
site_url: https://drai-inn.github.io/uoa-ai-gpu-docs/
repo_url: https://github.com/drai-inn/uoa-ai-gpu-docs
repo_name: drai-inn/uoa-ai-gpu-docs

nav:
  - Home: index.md
  - Platform Architecture:
    - Overview: platform/overview.md
  - Guides:
    - LLMs on NeSI: guides/llm-on-nesi.md
  - Reference:
    - Benchmarks: reference/benchmarks.md

theme:
  name: material
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: blue
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: indigo
      accent: blue
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - search.suggest
    - search.highlight
    - content.code.copy
  logo: assets/ake-uoa-k8s-party.gif
  favicon: assets/ake-uoa-k8s-party.gif
  font: false

copyright: Copyright &copy; 2025 The University of Auckland

extra_css:
  - stylesheets/extra.css

markdown_extensions:
  - attr_list
  - md_in_html
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
