@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/Inter-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  src: url('../assets/Inter-Italic.otf') format('opentype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/Inter-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/Inter-Bold.otf') format('opentype');
}

:root {
  --md-text-font: "Inter";
  --md-code-font: "Inter"; /* Using Inter for code as well if desired, or keep default monospace */
}
